<div class="home-header">
  <h1>Todas as citações</h1>
</div>

<div class="quotes-container">
  {{#each quotes}}
    <div class="quote">
      <figure>
        <blockquote>
          "{{this.description}}"
        </blockquote>
        <figcaption>por: <span>{{this.author}}</span></figcaption>
      </figure>

      <div class="actions">
        <form action="/quotes/remove/{{this._id}}" method="POST">
          <input type="hidden" name="id" value="{{this._id}}">
          <input type="submit" value="Excluir" class="btn">
        </form>
        <a class="btn" href="/quotes/edit/{{this._id}}">Editar</a>
      </div>
    </div>
  {{/each}}
</div>